* {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
.header {
  max-width: 1500px;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
}
.header-left img {
  width: 100px;
  height: 25px;
}
.list {
  display: flex;
  align-items: center;
  color: gray;
  font-weight: bold;
}
.list1, .list2, .list3, .list4, .list5, .list6 {
  margin-right: 20px;
}
.content {
  max-width: 1500px;
  position: relative;
}
.content-img img {
  width: 60%;
  margin: 0 0 0 auto;
  top: 10px;
  display: block;
}
.title {
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  font-weight: bold;
  color: purple;
  position: absolute;
  top: 100px;
  left: 20%;
  z-index: 10;
  line-height: 120px;
}
.title span {
  color: aqua;
}
.text {
  font-size: 24px;
  font-weight: bold;
  color: purple;
  position: absolute;
  top: 400px;
  left: 20%;
  z-index: 10;
}
.text span {
  color: aqua;
}
.item {
  color: burlywood;
  position: absolute;
  top: 430px;
  left: 20%;
  z-index: 10;
  font-size: 16px;
}
.date {
  width: 50%;
  margin: 0 auto;
}
.wrap {
  font-family: 'Indie Flower', cursive;
  color: purple;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 100px;
}
.date-text h2 {
  color: grey;
  font-size: 24px;
  border-bottom: 3px solid rgba(220, 220, 220, 0.8);
  padding-bottom: 20px;
}
.date-list1, .date-list2, .date-list3, .date-list4, .date-list5 {
  padding-top: 50px;
  color: rgba(128, 128, 128, 0.7);
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid rgba(220, 220, 220, 0.8);
  padding-bottom: 10px;
}
.item1, .item2, .item3, .item4, .item5 {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 20px;
  background: purple;
  color: white;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  padding: 5px 0 0 0;
}
.bottom {
  border-bottom: 3px solid rgba(220, 220, 220, 0.8);
  padding-top: 20px;
  margin-bottom: 100px;
}
.message {
  max-width: 1500px;
  background: rgba(220, 220, 220, 0.5); 
  padding: 30px 0;
  position: relative; 
}
.message-text {
  width: 380px;
  height: 120px;
  padding: 10px;
  margin: 0 auto;
}
.message-text p {
  font-family: 'Indie Flower', cursive;
  color: purple;
  padding-top: 30px;
  font-weight: bold;
  text-align: center;
}
.message-text h2 {
  font-size: 24px;
  font-weight: bold;
  color: gray;
  text-align: center;
  padding-top: 30px;
}
.message-title {
  width: 400px;
  height: 250px;
  padding: 0 10px;
}
.message-img img {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 30%;
  right: 17%;
  margin-top: 30px;
}
.message-list {
  position: absolute;
  top: 30%;
  left: 19%;
  margin-top: 30px;
}
.message-list p {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  letter-spacing: 1px;
}
.message-list1 {
  padding-bottom: 15px;
}
.service {
  max-width: 1500px;
  width: 70%;
  margin: 50px auto 0;
}
.service-text {
  padding: 10px;
  display: inline-block;
}
.service-text p {
  font-family: 'Indie Flower', cursive;
  color: purple;
  padding-top: 30px;
  font-weight: bold;
}
.service-text h2 {
  color: grey;
  font-size: 24px;
  padding-top: 15px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.service-list {
  display: grid;
  grid-template-rows: 230px 230px;
  grid-template-columns: 1fr 1fr;
  color: white;
  margin-bottom: 80px;
}
.service-item1 {
  grid-row: 1/3;
  grid-column: 1/2;
  padding: 50px;
  background-color: purple;
  display: inline-block;
}
.service-item1 img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}
.service-item1 h3 {
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
  padding-top: 20px;
}
.service-item1 p {
  font-size: 16px;
  padding-top: 30px;
  letter-spacing: 3px;
  line-height: 30px;
}
.service-item2 {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgba(128, 0, 128, 0.7);
  padding: 20px;
}
.service-item2 img {
  width: 150px;
  height: 150px;
  float: left;
  padding-top: 10px;
}
.service-item2 h3 {
  font-size: 20px;
  padding-top: 30px;
  margin-left: 20px;
  display: inline-block;
}
.service-item2 p {
  font-size: 16px;
  padding-top: 30px;
  margin-left: 20px;
  line-height: 30px;
  display: inline-block;
}
.service-item3 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgba(128, 0, 128, 0.4);
  padding: 20px;
}
.service-item3 img {
  width: 150px;
  height: 150px;
  float: left;
  padding-top: 10px;
}
.service-item3 h3 {
  font-size: 20px;
  padding-top: 30px;
  margin-left: 20px;
  display: inline-block;
} 
.service-item3 p {
  font-size: 16px;
  padding-top: 30px;
  margin-left: 20px;
  line-height: 30px;
  display: inline-block;
}
.blog {
  max-width: 1500px;
  background: rgba(220, 220, 220, 0.5);
  padding: 30px 0;
}
.blog-text {
  padding: 15px;
  margin-left: 220px;
}
.blog-text p {
  font-family: 'Indie Flower', cursive;
  color: purple;
  padding-top: 30px;
  font-weight: bold;
}
.blog-text h2 {
  color: grey;
  font-size: 24px;
  padding-top: 15px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.card {
  display: flex;
  justify-content: center;
}
.card1 {
  width: 320px;
  margin-top: 40px;
  position: relative;
  border-radius: 15px;
  background: white;
  margin: 0 25px;
}
.text1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: purple;
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  border-radius: 15px 0 0 0;
  width: 25%;
  position: absolute;
}
.card1 img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card1 h3 {
  padding: 25px;
  color: grey;
  line-height: 30px;
}
.card1-item {
  padding: 0 25px 35px 25px;
  color: rgba(128, 128, 128, 0.8);
}
.card1-item1 {
  display: inline-block;
  float: left;
}
.card1-item2 {
  display: inline-block;
  float: right;
}
.card2 {
  margin: 0 30px ;
  display: inline-block;
}
.btn {
  width: 200px;
  height: 40px;
  margin: 30px auto 20px;
  color: purple;
  background-color: white;
  font-size: 16px;
  border: 3px solid purple;
  display: block;
  text-align: center;
  padding: 23px 0 0 0;
  letter-spacing: 2px;
  border-radius: 40px;
}
.company {
  max-width: 1500px;
}
.company-text {
  padding: 50px;
  margin-left: 280px;
}
.company-text p {
  font-family: 'Indie Flower', cursive;
  color: purple;
  padding-top: 30px;
  font-weight: bold;
}
.company-text h2 {
  color: grey;
  font-size: 24px;
  padding-top: 15px;
  letter-spacing: 2px;
}
.table {
  width: 800px;
  height: 400px;
  margin: 0 auto 80px;
}
.table th {
  color: gray;
  text-align: left;
  padding-top: 25px;
  padding-left: 25px;
  background-color: rgba(220, 220, 220, 0.5);
}
.table td {
  color: rgba(128, 128, 128, 0.9);
  padding-left: 25px;
}
th, td {
  border: 2px solid rgba(128, 128, 128, 0.3);
}
.photo {
  max-width: 1500px;
  display: flex;
  justify-content: flex-start
}
.photo1, .photo2 {
  position: relative;
}
.photo-list1, .photo-list2 {
  width: 750px;
}
.photo1 h2, .photo2 h2 {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer p {
  color: rgba(128, 128, 128);
  font-size: 20px;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;
}
.btn1 {
  width: 280px;
  height: 50px;
  background: linear-gradient(90deg, #c71585, #FF1493);
  border-radius: 40px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 35px;
  box-shadow: 5px 5px 3px ;
  display: block;
  margin: 20px auto 80px;
  position: relative;
}
.btn1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 35px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}
.spans {
  border-left: 3px solid #c71585;
  font-size: 38px;
  
}
small {
  max-width: 1500px;
  padding: 20px 0;
  font-size: 14px;
  color: rgba(128, 128, 128);
  background-color: rgba(220, 220, 220, 0.5);
  text-align: center;
  display: block;
}